* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x:hidden;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}




